* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  height: 740px;
  background-image: url(Rectangle.png);
}

.header-items{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: flex-end;
  justify-items: center;
}

.item1{
  justify-self: flex-end;
  background-color: white;
  padding: 57px 0px 57px 130px;
  text-align: center;
}

.item2{
  background-color: white;
  padding: 57px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.left {
  padding-right: 23px;
}
.right {
  padding-left: 23px;
}

.item3{
  justify-self: start;
  background-color: white;
  padding: 57px 130px 57px 0px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-top: 167px;
  padding-bottom: 35px;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;

}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 20px;
}

p.item-second-line{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

p.item-third-line{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #999999;
}


h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 60px;
  color: #404149;
  text-transform: uppercase;
}

.cards {
  margin-bottom: 200px;
  
}

img {
  width: 350px;
  height: 380px;
}

.rectangle {
  background-color: #F7654A;
  width: 55px;
  height: 6px;
  margin-top: 45px;
  margin-bottom: 15px;
}

h4 {
  color: #404149;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

p.card-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #999999;
}


aside {
  display: flex;
  justify-content: space-between;
  padding: 0 18%;
  background-color: #F7654A;
  height: 181px;
}

.aside-text {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p.aside-line-first {
  font-size: 48px;
  padding: 20px 0 10px;
}

p.aside-line-second {
  font-size: 24px;
}

button {
  background-color: white;
  text-transform: uppercase;
  color: black;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 13px 45px;
  margin: 73px 0 59px;
}

button:hover {
  color: gray;
  background-color: lightgray;
  transition: 0.2s;
}


footer {
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
  padding: 0 18%;
  background-color: #404149;
}

p.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: white;
}